.menu {
	@apply flex flex-col p-[15px] h-[100vh];

	&__list {
		> li {
			@apply text-[16px] mb-5 text-[#f2f2f2] py-3 px-5 relative;

			.link {
				@apply text-[#f2f2f2];
				&:hover {
					@apply text-[#ff9900];
				}
			}

			&.active {
				@apply text-[#ff9900] bg-[#252f3d] rounded-xl;
				&::after {
					content: '';
					position: absolute;
					left: -15px;
					top: 3px;
					height: 39px;
					border-radius: 0px 10px 10px 0px;
					width: 4px;
					background: #ff9900;
				}
			}
		}
	}
}
