.layout {
	display: grid;
	grid-template-rows: 80px auto;
	grid-template-columns: 250px 10fr;
	grid-template-areas:
		'header header'
		'sidebar content';
}
.sidebar {
	@apply bg-[#111317] border-r-2 border-solid border-[#7c7d80];
	grid-area: sidebar;
}
.content {
	@apply pt-5 pr-5 pl-5 bg-[#f0f0f0];
	grid-area: content;
}
